REGISTRY_ENDPOINT=https://triplestore.netwerkdigitaalerfgoed.nl/repositories/registry
VALIDATION_EDM_SHAPES_PATH=pipelines/generic/edm_ext_shacl_shapes.ttl
VALIDATION_OUTPUT_DIR=output/validation

IMPORT_DIR=imports

STAGE_BATCH_SIZE=2000
STAGE_MAX_CONCURRENCY=30